@using Workflow.Models;

@model PersonViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit @Model.FirstName</h2>
<hr />

<form id="EditPersonForm" asp-controller="Person" asp-action="Edit" method="post">

    @Html.HiddenFor(p => p.SerialisedHobbies, new { id = "HobbyData" })

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="Partials/EditGrid.cshtml" />
            </div>
            <hr />
            <div class="form-group">
                <input type="button" value="Save Person" class="btn btn-default" onclick="onSavePerson()" />
            </div>
        </div>
    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    function onRequestCancelChanges() {
        alert("1111");
    }

    function onSavePerson() {
        var grid = $("#HobbyGrid").data("kendoGrid");
        grid.dataSource.sync();
        var json = kendo.stringify(grid.dataSource.view());
        $("#HobbyData").val(json);
        $("#EditPersonForm").submit();
    }

</script>

<style>

    #HobbyGrid a.k-button.k-grid-save-changes {
        display: none;
    }

</style>